<!DOCTYPE html>
<html>
  <title>Multimedia Content Protection System</title>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">


  </head>

  <body>

    <video class="video-background" autoplay muted loop>
      <source src="static/images/vide.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    
    <h2 class="logo">EncryptX</h2>
    <header>
      
      <nav class="navbar">
        <a href="#">Home</a>
        <a href="/about">About</a>
        <a href="/admin_login">Admin</a>
        <a href="#">Contact</a>
        
      </nav>
      <a href="/login"><button class="login-button">Login</button></a>
      <a href="/register"><button class="SignUp-button">SignUp</button></a>
    </header>

      <h1><span>MULTIMEDIA CONTENT PROTECTION SYSTEM</span></h1><br><br><br>
      <h4>Welcome to Our Platform</h4><br>
      <p>
        Experience seamless and secure management of your multimedia content with our user-friendly platform. From protecting sensitive files to ensuring privacy through our Encryption based technology, prioritize your data security. Easily register, verify your email, and access your personalized dashboard to explore features like file uploads, file downloads. Join us today for a secure and efficient digital experience!</p>
      
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

  </body>

</html>
  
